footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;

    img{
        height: 60px;
        width: fit-content;
        object-fit: contain;
    }

    p{
        font-size: 1.2rem;
        color: grey;

    }
}